[Unit]
Description=BDS Mail Server
After=network.target postgresql.service

[Service]
Type=simple
User=bdsmail
Group=bdsmail
WorkingDirectory=/opt/bdsmail
AmbientCapabilities=CAP_NET_BIND_SERVICE
ExecStart=/opt/bdsmail/bin/bdsmail \
  --db_type=postgres \
  --ssl_dir=/opt/bdsmail/ssl \
  --smtp_port=25 \
  --pop3_port=110 \
  --imap_port=143 \
  --https_port=443 \
  --http_port=80 \
  --dkim_key_dir=/opt/bdsmail/dkim \
  --acme_webroot=/opt/bdsmail/acme \
  --bucket_type=s3 \
  --s3_bucket=CHANGE_ME \
  --s3_region=us-west-2 \
  --secret_mode=local \
  --keystore=/opt/bdsmail/sec/secrets.json
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
